:root {
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --secondary-title-color: #FFFFFF;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --button-background-color: #F5F4FA;
}

body{
    font-family: var(--main-font);
    font-style: normal;
}

.list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  address {
    font-style: normal;
  }
/*header*/
.logo {
    font-family: var(--secondary-font);
    color: var(--primary-title-color);
}
.logo-accent {
    color: var(--accent-color);
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
  }
  .nav-link:hover,
  .nav-link:focus {
      color: var(--accent-color);
  }
  .address-link-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .address-link-header:hover,
  .address-link-header:focus {
      color: var(--accent-color);
  }

/* hero section*/

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color)
    /*var(--secondary-title-color);*/
}
.modal-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
}
/* advantage section */
.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.advantage-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*description, team title*/
.description-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
/* team section*/
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*footer*/
.location-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
    color: var(--primary-text-color);
    /*var(--secondary-title-color);*/
}

.contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
    color: var(--primary-text-color);
    /* var(--secondary-text-color)*/
}

/*portfolio page*/

/*filter*/
.filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    background-color: var(--button-background-color);
}
.filter-button:focus, 
.filter-button:hover {
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
}

/*portfolio-list*/

.portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}
.project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}